/* Reset some default styles for better consistency */
:root{
    --primary-100:#00CED1;
    --primary-200:#00b0b3;
    --primary-300:#006d72;
    --accent-100:#7FFFD4;
    --accent-200:#009974;
    --text-100:#000000;
    --text-200:#2c2c2c;
    --bg-100:#E0FFFF;
    --bg-200:#d6f5f5;
    --bg-300:#aecccc;
    /* CSS HEX */
    --robin-egg-blue: #06CACFff;
    --robin-egg-blue-2: #07D2D0ff;
    --indigo-dye: #0B3F59ff;
    --robin-egg-blue-3: #00BFCBff;
    --rich-black: #0F1F2Bff;
/* CSS HEX */
    --robin-egg-blue: #07CCD1ff;
    --indigo-dye: #144F6Cff;
}
body{
    margin:0px;
}
header {
    background-color: #f2f2f2;
    padding: 20px;
    overflow: hidden;
  }
  
  .logo {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px; /* Adjust the font size as needed */
    padding: 10px; /* Adjust the padding as needed */
    z-index: 1;
  }
  
  .logo img {
    max-width: 80px;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }