/* Reset some default styles for better consistency */
:root{
    --primary-100:#00CED1;
    --primary-200:#00b0b3;
    --primary-300:#006d72;
    --accent-100:#7FFFD4;
    --accent-200:#009974;
    --text-100:#000000;
    --text-200:#2c2c2c;
    --bg-100:#E0FFFF;
    --bg-200:#d6f5f5;
    --bg-300:#aecccc;
    /* CSS HEX */
    --robin-egg-blue: #06CACFff;
    --robin-egg-blue-2: #07D2D0ff;
    --indigo-dye: #0B3F59ff;
    --robin-egg-blue-3: #00BFCBff;
    --rich-black: #0F1F2Bff;
/* CSS HEX */
    --robin-egg-blue: #07CCD1ff;
    --indigo-dye: #144F6Cff;
}

body{
    margin:0px;
}
header {
    background-color: #f2f2f2;
    padding: 15px;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 9999;
    overflow: visible;
  }
  
  .logo {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px; /* Adjust the padding as needed */
    z-index: 1;
    background-size: cover;
    background-position: center;
    border-radius: 50%; /* Add this line for the circular shape */
    box-shadow: 0 0 5px rgba(37, 34, 34, 0.1); /* Adjust the box-shadow values as needed */
    margin:0px;
    padding: 0px;
    padding-bottom: -5px;
  }
  
  .logo img {
    max-width: 100px;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }

  #parallax {
    height:   400px; /* Adjust the height as needed */
    overflow: hidden;
    position: relative;
  }
  
  .parallax-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('OIG.jpeg'); /* Replace with the path to your background image */
    background-size: cover;
    background-position: center;
    transform: translate3d(0, 0, 0);
  }